@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-8 blog-posts">
    <h3 class="post">Latest Posts</h3>
    
   
</div>
<div class="col-md-4 blog-categories">
    <h3 class="post">Categories</h3>
    <p><a href="#">Celebrity Interviews</a> (34)</p>
    <p><a href="#">Lorem Ipsum</a> (12)</p>
    <p><a href="#">Bollwood Movies</a> (34)</p>
    <p><a href="#">Tamil Movies</a> (12)</p>
    <p><a href="#">Tollywood Movies</a> (34)</p>
    <p><a href="#">Collywood Movies</a> (12)</p>
    <p><a href="#">Celebrity Interviews</a> (34)</p>
    <p><a href="#">Actors</a> (12)</p>
    <p><a href="#">Actress</a> (34)</p>
    <p><a href="#">Movie News</a> (12)</p>
    <p><a href="#">Music</a> (34)</p>
    <p><a href="#">Indian Music</a> (12)</p>
    <p><a href="#">Celebrity Interviews</a> (34)</p>
    <p><a href="#">Lorem Ipsum</a> (12)</p>
    <p><a href="#">Celebrity Interviews</a> (34)</p>
    <p><a href="#">Lorem Ipsum</a> (12)</p>
    <p><a href="#">Celebrity Interviews</a> (34)</p>
    <p><a href="#">Lorem Ipsum</a> (12)</p>
    <p><a href="#">Celebrity Interviews</a> (34)</p>
    <p><a href="#">Lorem Ipsum</a> (12)</p>
    <p><a href="#">Celebrity Interviews</a> (34)</p>
    <p><a href="#">Lorem Ipsum</a> (12)</p>
</div>
<div class="clearfix"></div>